
obj/Debug/text_from_photo_slave.pdb
obj/Debug/text_from_photo_slave.exe
obj/Debug/text_from_photo_slave.csprojAssemblyReference.cache
obj/Debug/text_from_photo_slave.csproj.GenerateResource.cache
obj/Debug/DesignTimeResolveAssemblyReferences.cache
bin/Debug/text_from_photo_slave.pdb
bin/Debug/text_from_photo_slave.exe
.vs/text_from_photo_slave/v16/.suo
.vs/text_from_photo_slave/v16/.suo
bin/Debug/TempData/2Text.jpg
bin/Debug/TempData/2Text.jpg
obj/Debug/text_from_photo_slave.csprojAssemblyReference.cache
obj/Debug/text_from_photo_slave.csproj.GenerateResource.cache
obj/Debug/text_from_photo_slave.csproj.CoreCompileInputs.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/text_from_photo_slave.exe
obj/Debug/text_from_photo_slave.pdb
